<div
  class="p-2 border rounded-xl bg-[rgb(241,248,234)] group hover:bg-[rgb(226,235,216)]"
  routerLink="../block/{{ id }}"
>
  <div>
    <div class="flex justify-between h-[20px]">
      <p class="font-[700]">hotels.com</p>
      <div
        class="border border-red-800 h-[20px] xl:flex items-center rounded-md md:hidden flex"
      >
        <span
          class="bg-red-800 px-[4px] font-[700] text-white rounded-s-md text-[12px]"
          >15%</span
        ><span class="px-[4px] font-[700] text-red-800 text-[12px]"
          >Less than usual</span
        >
      </div>
    </div>
    <p
      class="text-green-700 flex items-center font-bold text-[12px] m-0"
      style="margin-bottom: 5px"
    >
      <mat-icon
        class="text-[12px] font-bold"
        style="height: fit-content; width: fit-content"
        >done</mat-icon
      >
      Free cancellation
    </p>
    <div class="flex justify-between">
      <div>
        <p style="margin-bottom: 0px" class="text-xl font-[900]">
          ₹{{ price }}
        </p>
        <span class="text-[12px] me-2">7 nights for</span>
        <span class="font-bold text-[12px]">₹8,145</span>
      </div>
      <button
        class="flex items-center border xl:w-36 w-40 justify-around h-9 rounded-xl bg-green-700 text-white font-bold text-[15px] group-hover:bg-green-800 xl:mt-0 mt-5"
      >
        <span>View Deal</span> <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="my-2 xl:flex gap-2">
  <app-house-right-button
    name="Booking.com"
    price="₹10,000"
    timing="per night"
    class="xl:block hidden"
  ></app-house-right-button>
  <app-house-right-button
    name="Our lowest price"
    price="₹10,000"
    timing="per night on Booking.com"
  ></app-house-right-button>
</div>
