<div class="flex justify-around">
  <div class="flex items-center">
    <h1>Mr.360</h1>
  </div>

  <div class="flex">
    <app-header-small-comp
      [para]="'favourite'"
      [icon]="'favorite'"
    ></app-header-small-comp>
    <app-header-small-comp
      [para]="'EN.₹'"
      [icon]="'language'"
    ></app-header-small-comp>
    <app-header-small-comp
      [para]="'Login'"
      [icon]="'account_circle'"
    ></app-header-small-comp>
    <app-header-small-comp
      [para]="'Menu'"
      [icon]="'menu'"
    ></app-header-small-comp>
  </div>
</div>
<hr />
