<div class="h-[420px] bg-[#0a1121] pt-16 md:px-64 px-6">
  <div class="flex justify-between mb-6">
    <p class="text-xl font-[900] text-white">Mr.360</p>
    <div>
      <app-footer-icons></app-footer-icons>
      <app-footer-icons></app-footer-icons>
      <app-footer-icons></app-footer-icons>
    </div>
  </div>
  <div>
    <select
      name=""
      id=""
      class="h-[40px] w-[250px] bg-transparent border-zinc-500 rounded-lg border text-white font-[500] text-[15px]"
    >
      <option value="">India</option>
    </select>
  </div>
</div>
