<div
  class="border px-2 py-[1px] rounded-lg bg-zinc-200/100 hover:bg-zinc-300 flex xl:justify-normal justify-between"
>
  <div class="flex flex-col">
    <span class="text-[12px] font-bold">{{ name }}</span>

    <span class="text-[17px] font-bold -mt-1">{{ price }}</span>
    <span class="text-[12px] -mt-1">
      {{ timing }}
    </span>
  </div>

  <div
    class="flex justify-end ps-1 pt-3 xl:pt-0"
    *ngIf="name !== 'Booking.com'"
  >
    <mat-icon>expand_more</mat-icon>
  </div>
  <div *ngIf="name === 'Booking.com'" class="w-[31px]"></div>
</div>
