<div class="bg-[rgb(243,244,245)] flex justify-center">
  <div class="xl:w-[66vw] md:w-[95vw] w-[100vw]">
    <app-sort-map-button></app-sort-map-button>

    <div *ngFor="let detail of api.details">
      <app-house-block
        [city]="detail.city"
        [image]="detail.image"
        [favorite]="detail.favorite"
        [id]="detail.id"
        [rating]="detail.rating"
        [price]="detail.price"
        [property]="detail.property"
        [distance]="detail.distance"
      ></app-house-block>
    </div>
    <div class="flex justify-center h-20 items-center">
      <button (click)="api.backward()">
        <mat-icon class="font-bold">navigate_before</mat-icon>
      </button>
      <p
        class="font-bold"
        style="margin-bottom: 8px"
        *ngIf="api.totalPages != 0"
      >
        {{ api.pageIndex + 1 }} of {{ api.totalPages }} Pages (Total Items :
        {{ api.totalItems }})
      </p>
      <p
        class="font-bold"
        style="margin-bottom: 8px"
        *ngIf="api.totalPages == 0"
      >
        {{ api.pageIndex }} of {{ api.totalPages }} Pages (Total Items :
        {{ api.totalItems }})
      </p>
      <button (click)="api.forward()">
        <mat-icon class="font-bold">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
