<div class="flex justify-center mt-6 pt-2 gap-2 sticky -top-1 bg-white pb-4">
  <app-filter-component
    [name]="'Price:'"
    [name2]="'per night'"
    btnName="₹90-₹40,000"
  ></app-filter-component>
  <app-filter-component
    [name]="'Filters'"
    btnName="Select"
  ></app-filter-component>
  <app-filter-component
    [name]="'Guest rating'"
    btnName="All"
    [cityChange]="cityChange"
  ></app-filter-component>
  <app-filter-component
    [name]="'Property type'"
    btnName="Select"
  ></app-filter-component>
  <app-filter-component
    [name]="'Location'"
    [cityChange]="cityChange"
  ></app-filter-component>
</div>
