<div class="rounded-xl flex gap-2 shadow2 mb-2 h-[160px]">
  <div>
    <img
      src="https://imgcy.trivago.com/if_iw_lte_ih,c_scale,w_236/if_else,c_scale,h_160/e_improve,q_auto:low/d_dummy.jpeg,f_auto,q_auto//partner-images/bb/e1/e8e6406905074fd0906ed0d017ddcb1ba6179dd865d104e9870f26214aa2.jpeg"
      alt=""
      class="rounded-s-xl"
    />
  </div>
  <div class="w-[42%] my-2">
    <div class="flex justify-between">
      <p class="font-[700] text-xl">Ginger Mumbai</p>
      <mat-icon>favorite</mat-icon>
    </div>
    <div class="flex mb-1">
      <app-star-icon></app-star-icon>
      <app-star-icon></app-star-icon>
      <app-star-icon></app-star-icon>

      <span class="ms-2">Hotel</span>
    </div>
    <div>
      <app-drop-down name="5 km to city center"></app-drop-down>
      <app-drop-down name1="6.8 " name="(244 reviews)"></app-drop-down>
    </div>
  </div>
  <div class="w-[32%] self-center">
    <app-house-third-div></app-house-third-div>
  </div>
</div>
