<div class="rounded-xl md:flex md:gap-2 shadow2 mb-2 mx-4 md:mx-0">
  <div>
    <img
      [src]="image"
      alt=""
      class="md:rounded-s-xl md:h-full md:w-[230px] w-full h-52 rounded-t-xl md:rounded-e-none"
    />
  </div>
  <div class="md:w-[42%] my-2 w-full pl-2 md:pl-0">
    <div class="flex justify-between pe-2">
      <p class="font-[700] text-xl">{{ city }}</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        class="w-6 h-6 fill-none hover:text-red-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
        />
      </svg>
    </div>
    <div class="flex mb-1">
      <app-star-icon></app-star-icon>
      <app-star-icon></app-star-icon>
      <app-star-icon></app-star-icon>

      <span class="ms-2">Hotel</span>
    </div>
    <div>
      <app-drop-down name="5 km to city center"></app-drop-down>
      <app-drop-down name1="6.8 " name="(244 reviews)"></app-drop-down>
    </div>
  </div>
  <div class="md:w-[32%] mt-2 mx-2 w-[95.5%] pb-[0.13rem] md:pb-0">
    <app-house-third-div></app-house-third-div>
  </div>
</div>
