<div class="relative group">
  <span class="font-bold ms-4">{{ name }} </span
  ><span *ngIf="name === 'Price:'" class="text-zinc-600">{{ name2 }}</span
  ><br />
  <button
    class="rounded-s-full rounded-e-full border h-8 outline-none focus:border-blue-400 text-left ps-3 text-zinc-600"
    [class.w-44]="name === 'Price:'"
    [class.w-32]="name !== 'Price:'"
    [class.xl:w-60]="name === 'Price:'"
    [class.xl:w-44]="name !== 'Price:'"
  >
    {{ btnName }}
  </button>
  <mat-icon class="absolute right-4 bottom-1">expand_more</mat-icon>
  <app-location-sort
    (childEvent)="childdata($event)"
    [name]="name"
    [firstvalue]="
      name == 'Location'
        ? 'City center'
        : name == 'Guest rating'
        ? 'All'
        : name == 'Price:'
        ? '₹90-₹45,000'
        : 'Select'
    "
  ></app-location-sort>
</div>
